.device {
    margin: auto;
    /* width: 640px; */
    width: 550px;
    height: 960px;
    overflow: hidden;
    background-color: powderblue;
    position: relative;
}

body {
    margin: 0;
    height: 100%;
}

.content {
    background-color: rgb(255, 204, 129);
    padding-bottom: 3rem;  /* so content doesn't overlap navbar */
    overflow-y: auto;
    height: calc(100vh - 4rem); /* so scrollbar only applies to main content div */
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;  /* so navbar is always visible */
    bottom: 0;
    background-color: rgb(229, 229, 229);
    /*width: 640px;  /* from starting code specification */
    width: 550px;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.navbar a.active {
    background-color: rgb(134, 201, 240);
    color: black;
}

.nav-icon {
    margin-top: .5rem;
    width: 2rem;
    height: 2rem;
}

#lower-right-text {
    margin-top: 300px;
    margin-left: 80%;
}

#colors-text1 {
    color: yellow;
    background-color: black;
    text-align: center;
}

#colors-text2 {
    color:purple;
    background-color: yellow;
    text-align: center;
}

/* style for profile tab specific */
.profile-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.profile-image {
    width:200px;
    height:240px;
    cursor:pointer;
}

.profile-name {
    font-weight: bold;
    font-size: 2em;
}

#notification {
    position:fixed; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    width: 50%;
    background:red; 
    padding: 1em; 
    border:1px solid black; 
    z-index:10;
    text-align: center;
}

#notif-text {
    color: white;
    font-size: 2em;
}

.hidden {
    display:none; 
}

/* todo tab specific */
.todo-input {
    width: calc(100% - 60px);
    padding: 8px;
    margin-right: 5px;
}

.todo-button {
    padding: 8px 10px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.todo-text.completed {
    text-decoration: line-through;
    color: #888;
}


.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

#listItem {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#listItem.completed {
    background-color: lightgray;
}
